$blue: #116EEA;
$white: #ffffff;
$black: #000000;
$background: #C4C4C4;
$font-texto: 'Roboto', sans-serif;
$font-p: 1rem;
$font-h1: 1.618rem;

$menu-width: 35px;
$menu-height: 3px;
$menu-margin: 8px;
$trasition: 0.3s;